<ns-action-bar></ns-action-bar>
<GridLayout rows="*,60">
    <MapView row="0" #mapView [latitude]="currentLat" [longitude]="currentLng"
             [zoom]="zoom" [minZoom]="minZoom" [maxZoom]="maxZoom" [bearing]="bearing"
             [tilt]="tilt" i-padding="50,50,50,50" [padding]="padding" (mapReady)="onMapReady($event)"
             (markerSelect)="onMarkerEvent($event)" (markerBeginDragging)="onMarkerEvent($event)"
             (markerEndDragging)="onMarkerEvent($event)" (markerDrag)="onMarkerEvent($event)"
             (markerInfoWindowTapped)="onMarkerEvent($event)" (coordinateTapped)="onCoordinateTapped($event)"
             (cameraChanged)="onCameraChanged($event)"
             (cameraMove)="onCameraMove($event)"></MapView>

    <StackLayout row="1" orientation="horizontal">
        <Button
            class="camera-button"
            (tap)="openCamera($event)"
            (onLongPress)="clearPhotosArray()"
            width="100%"
            text="Report"
            clearHistory="true">
        </Button>
    </StackLayout>

</GridLayout>