<ns-action-bar></ns-action-bar>
<Label *ngIf="configurationService.demoMode" text="Demo Mode"></Label>
<GridLayout rows="*,60">
    <MapView row="0" #mapView [latitude]="currentLat" [longitude]="currentLng"
             [zoom]="zoom" [minZoom]="minZoom" [maxZoom]="maxZoom" [bearing]="bearing"
             [tilt]="tilt" i-padding="50,50,50,50" [padding]="padding" (mapReady)="onMapReady($event)"
             (markerSelect)="onMarkerEvent($event)" (markerBeginDragging)="onMarkerEvent($event)"
             (markerEndDragging)="onMarkerEvent($event)" (markerDrag)="onMarkerEvent($event)"
             (markerInfoWindowTapped)="onMarkerEvent($event)" (coordinateTapped)="onCoordinateTapped($event)"
             (cameraChanged)="onCameraChanged($event)"
             (cameraMove)="onCameraMove($event)"></MapView>

    <StackLayout row="1" orientation="horizontal">
        <!--StackLayout>
            <Switch
                checked="false"
                (checkedChange)="onCheckedChange($event)"
                class="m-15">
            </Switch>
        </StackLayout-->
        <Button
            *ngIf="viewMode === ViewMode.HeatMap"
            class="cancel-btn"
            width="30%"
            (tap)="togglePointsMap()"
            (onLongPress)="toggleDemoMode()"
            text="Back"
            clearHistory="true">
        </Button>

        <Button
            *ngIf="viewMode === ViewMode.PointsMap"
            class="cancel-btn"
            width="30%"
            (tap)="toggleHeatMap()"
            (onLongPress)="toggleDemoMode()"
            text="Heat"
            clearHistory="true">
        </Button>

        <Button
            class="main-btn"
            width="70%"
            (tap)="openCamera($event)"
            (onLongPress)="clearPhotosArray()"
            text="Add Point"
            clearHistory="true">
        </Button>
    </StackLayout>

</GridLayout>