<ActionBar title="Map View" class="action-bar"></ActionBar>
<GridLayout rows="*,60">
    <MapView row="0" #mapView [latitude]="currentLat" [longitude]="currentLng"
             [zoom]="zoom" [minZoom]="minZoom" [maxZoom]="maxZoom" [bearing]="bearing"
             [tilt]="tilt" i-padding="50,50,50,50" [padding]="padding" (mapReady)="onMapReady($event)"
             (markerSelect)="onMarkerEvent($event)" (markerBeginDragging)="onMarkerEvent($event)"
             (markerEndDragging)="onMarkerEvent($event)" (markerDrag)="onMarkerEvent($event)"
             (markerInfoWindowTapped)="onMarkerEvent($event)" (coordinateTapped)="onCoordinateTapped($event)"
             (cameraChanged)="onCameraChanged($event)"
             (cameraMove)="onCameraMove($event)"></MapView>

    <StackLayout row="1" orientation="horizontal">
        <Button
            [nsRouterLink]="['/camera']"
            width="100%"
            text="Open Camera"
            pageTransition="slideLeft"
            clearHistory="true">
        </Button>
    </StackLayout>

</GridLayout>
<!--GridLayout rows="*,100" class="map-wrapper">
    <StackLayout row="0">
        <ListView class="map-wrapper" [items]="photosArray" (itemTap)="onItemTap($event)" class="list-group">
            <ng-template let-photo="item" let-i="index" let-odd="odd" let-even="even">
                <StackLayout orientation="horizontal" class="list-group-item">
                    <Label text="{{photo.rating | rating}}: ({{photo.lat}}, {{photo.lng}})"></Label>
                </StackLayout>
            </ng-template>
        </ListView>
    </StackLayout>
    <StackLayout row="1" orientation="horizontal">
        <Button
            [nsRouterLink]="['/camera']"
            width="25%"
            text="Open Camera"
            pageTransition="slideLeft"
            clearHistory="true"
            class="btn btn-primary">
        </Button>
        <Button
            (tap)="clearPhotosArray()"
            width="25%"
            text="Clear"
            class="btn">
        </Button>
    </StackLayout>
</GridLayout-->
