/* Add mobile styles for the component here.  */
.details-wrapper {
    background: #38b6ff;
}

.cancel-btn {
    color: #555;
    width: 30%;
}

.good-btn, .bad-btn {
    width: 35%;
    color: white;
}

.bad-btn {
    background: #ff5c5c;
}

.good-btn {
    background: #7ed957;
}