<ns-action-bar></ns-action-bar>
<ScrollView>
    <GridLayout rows="*,60" class="details-wrapper">
        <GridLayout row="0" height="100%">
            <ns-photo-card [photoId]="photoId"></ns-photo-card>
        </GridLayout>
        <StackLayout row="1" orientation="horizontal">
            <Button text="Cancel" class="cancel-btn" (tap)="cancel()"></Button>
            <Button text="Bad!" class="bad-btn" (tap)="ratePhoto(0)"></Button>
            <Button text="Good!" class="good-btn" (tap)="ratePhoto(1)"></Button>
        </StackLayout>
    </GridLayout>
</ScrollView>